<div class="centrer">
  <div class="container">
    <h2 class="text-center">Data Accuracy</h2>
    <h2 class="text-center">Moving Average - NAV Amount for product 1A</h2>
    <p>A moving average (MA) is a widely used indicator in technical analysis that helps smooth out price
      action. It is a good method to detect <font color="red"> fluctuations and suspicious data points
      </font> in our data.</p>
    <p>We took the product "<strong>1A</strong>"" as an example to illustrate and analyze its NAV Amount
      behavior.</p>
    <canvas baseChart [datasets]="datasets" [labels]="lineChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions"></canvas>
  </div>
</div>
